.home-block {
    /* background-image: url('../../../public/images/Main_bg_6.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    /* opacity: .5; */
}

.banner {
    width: 100%;
    height: 88vh;
    text-align: center;
    overflow: hidden;
    top: -60px;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 150px;
    height: 170px;
    top: 8%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 40s linear infinite;
    animation-play-state: var(--animation-state, running);
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-12deg) rotateY(360deg);
    } to {
        transform: perspective(1000px) rotateX(-12deg) rotateY(0deg);
    }
    
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg )) translateZ(550px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .btn-3d {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #0056b3;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
}

.btn-3d:active {
    box-shadow: 0 2px #0056b3;
    transform: translateY(3px);
} */

.animated-3d {
    width: 160px;
    position: absolute;
    top: 150px;  
    left: 43%;
    cursor: pointer;
    transform: rotateX(-12deg);
    transition: transform 0.2s,
}

.animated-3d:hover {
    transform: rotateX(-12deg) translateY(-2px); 
}

.pause-button-container {
    position: absolute;
    top: 170px;  
    left: 46%;
    background-color: transparent;
    border: 5px solid white; /* Border thickness */
    border-radius: 50%;      /* Makes the container circular */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Adjust size as needed */
    width: 50px;  /* Adjust size as needed */
    cursor: pointer;
}

.pause-button {
    background-color: transparent;
    border: none;
    border-left: 5px solid white;
    border-right: 5px solid white;
    height: 25px; /* Adjust height as needed */
    width: 20px;  /* Adjust width as needed */
}

.play-button-container {
    position: absolute;
    top: 170px;  
    left: 46%;
    background-color: transparent;
    border: 5px solid white; /* Border thickness */
    border-radius: 50%;      /* Makes the container circular */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Adjust size as needed */
    width: 50px;  /* Adjust size as needed */
    cursor: pointer;
}

.play-button {
    width: 0;
    height: 0;
    margin-left: 7px;
    border-left: 20px solid white; /* Adjust size as needed */
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}

