.register-block {
    background-image: url('../../../public/images/Reg_img_3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}